
@model Instructor

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowDetails</title>
</head>
<body>
    <p> First Name : @Model.FirstName</p>
    <p> Last Name : @Model.LastName</p>
    <p> Rank : @Model.Rank</p>
</body>
</html>
